.vermelho {
  /* color: red; */
  background-color: #eb4045;
}

.azul {
  background-color: #0ca789;
  /* color: blue; */
}

.verde {
  background-color: #8fd14f;
  /* color: green; */
}

button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
